.card {
    box-sizing: border-box;
    background-color: lightblue;
    width: 500px;
    margin: 0 auto;
}

.heading {
    background-color: aqua;
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    padding: 6px;    
}

.content {
    box-sizing: border-box;
    padding: 16px;
}

h1 {
    margin-top: 0;
}